@import "../../styles/common";

@mixin font {
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
}

.form {
  background-color: $white;
  border-radius: 10px;
  font-size: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #c99bfd;
  }

  .form__box {
    background-color: #f2eaf8;
    box-shadow: 0 4px 6px rgba(207, 171, 250, 0.5);
    border-radius: 10px;
    width: 60%;
    padding: 40px;
    padding-right: 50px;
    margin-bottom: 4rem;

    label {
      display: block;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    input {
      height: 20px;
      padding: 10px 0;
      padding-left: 10px;
      font-size: 16px;
      @include font;
      border-radius: 0.3rem;
      border: none;
      box-shadow: 0 4px 6px $shadow-color;
      width: 100%;
    }

    select {
      border: none;
      height: 40px;
      padding: 0px 10px;
      font-size: 16px;
      border-radius: 0.3rem;
      box-shadow: 0 4px 6px $shadow-color;
    }
    .image-area {
      background-color: $white;
      padding: 10px;
      border-radius: 0.3rem;
      box-shadow: 0 4px 6px $shadow-color;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-upload {
        border: none;
        box-shadow: none;
        font-size: 13px;
        height: fit-content;
        &::file-selector-button {
          content: "Choose File";
          background-color: $purple-btn;
          color: white;
          font-weight: 700;
          border: none;
          padding: 8px 15px;
          border-radius: 10px;
          margin: 1px;
          cursor: pointer;

          &:hover {
            background-color: $purple-hover;
          }
        }
      }
      .attachment {
        display: flex;
        align-items: center;
        img {
          max-height: 10rem;
          margin-right: 10px;
        }
        .btn-clear {
          background-color: $delete-btn;
          color: white;
          font-weight: 700;
          border: none;
          padding: 8px 15px;
          border-radius: 10px;
          margin: 1px;
          cursor: pointer;

          &:hover {
            background-color: $delete-hover;
          }
        }
      }
    }

    textarea {
      min-height: 300px;
      line-height: 1.5;
      padding: 10px 0;
      padding-left: 10px;
      font-size: 16px;
      border-radius: 0.3rem;
      border: none;
      box-shadow: 0 4px 6px $shadow-color;
      width: 100%;
      @include font;
    }

    .category-and-rating {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;

      .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;

        .rating {
          border-radius: 4px;
        }
      }
    }
    .form_block {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      .btn-submit {
        width: 10rem;
        height: fit-content;
        background-color: $purple-btn;
        box-shadow: 0 4px 6px $shadow-color;
        font-family: "Jersey 10", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: $white;
        cursor: pointer;

        &:hover {
          background-color: $purple-hover;
        }
      }
    }
  }
}
