// 기본 설정
$background-color: #f2eaf8;
$black: #000;
$white: #fff;
$purple: #d8b7ff;
$yellow: #fee26f;
$dark-gray: #383838;
$shadow-color: rgba(207, 171, 250, 0.5);

.page_container {
  background-color: $white;
  border-radius: 10px;
  font-size: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-btn {
  width: 10rem;
  height: fit-content;
  background-color: $yellow;
  border: 1px solid $black;
  border-radius: 10px;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  cursor: pointer;
}
