// 기본 설정
$background-color: #f2eaf8;
$black: #000;
$white: #fff;
$purple: #d8b7ff;
$yellow: #fee26f;
$dark-gray: #383838;
$shadow-color: rgba(207, 171, 250, 0.5);

.page_container {
  background-color: $white;
  border-radius: 10px;
  font-size: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-box {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    .blog-btn_purple {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 3rem;
      background-color: $purple;
      border: 1px solid $black;
      border-radius: 10px;
      font-family: "Jersey 10", sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 1rem;
      cursor: pointer;
      transform: rotate(0deg);
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
      &:hover,
      &:focus {
        transform: rotate(-2deg);
        transition: all 0.3s ease;
      }
      .blog-btn_name {
        margin-right: 6px;
      }
    }
  }
}
