@import "../styles/common";

@mixin text-box {
  font-family: sans-serif;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px;
}

.box-tip {
  display: flex;
  justify-content: center;
}

.tip_detail {
  width: 45rem;
  height: 80vh;
  background-color: $yellow;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1.1px solid $black;

  .tip_title {
    font-size: 2.4rem;
    @include text-box;
  }
  .tip_topic {
    font-size: 2rem;
    @include text-box;
  }
  .tip_content {
    font-size: 1.5rem;
    @include text-box;
  }
  .save {
    display: flex;
    justify-content: right;
    align-items: center;
    .edit-btn,
    .delete-btn,
    .save-btn {
      width: 8rem;
      border: none;
      padding: 10px;
      border-radius: 10px;
      margin-left: 1rem;
      cursor: pointer;
      color: $white;
      font-family: "Jersey 10", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      a {
        color: $white;
        font-family: "Jersey 10", sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .delete-btn {
      background-color: $delete-btn;

      &:hover {
        background-color: $delete-hover;
      }
    }
    .edit-btn {
      background-color: $purple-btn;

      &:hover {
        background-color: $purple-hover;
      }
    }
  }
}
