.container {
  font-size: 1.5rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 2rem;
  }
}
.blog-btn {
  width: 10rem;
  height: fit-content;
  background-color: #fee26f;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
