.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat linear-gradient(orange 0 0) 50%;
  background: var(--_c) / 100% 50%, var(--_c) / 50% 100%;
  border-radius: 50%;
  animation: l29 2s infinite linear;
}
@keyframes l29 {
  100% {
    transform: rotate(1turn);
  }
}
