@import "../styles/common";

.container {
  margin: 2rem 0;
  display: flex;
  min-width: 65rem;
  max-height: 15rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1.1px solid $black;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}

.image-wrapper img {
  width: 15rem;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 10px 20px;
  width: 100%;
}
.name-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name {
  font-size: 1.5em;
  color: #333;
}
.rating {
  border-radius: 10px;
  font-weight: bold;
}
.address {
  font-size: 1em;
  color: #666;
}
.recommendation {
  margin: 0.6em 0;
  background-color: $yellow;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
}

// .save {
//   display: flex;
//   justify-content: right;
//   align-items: center;
// }
// .save-btn {
//   width: 8rem;
//   background-color: #c99bfd;
//   color: $white;
//   font-family: "Jersey 10", sans-serif;
//   font-size: 1.3rem;
//   font-weight: 400;
//   border: none;
//   padding: 10px;
//   border-radius: 10px;
//   cursor: pointer;
// }
