@import "../styles/common";

.tip_container {
  width: 45rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-height: 15rem;
  border-radius: 20px;
  padding: 0 0 2rem 0;
  overflow: hidden;
  box-shadow: 0 4px 6px $shadow-color;
  border: 0.8px solid $shadow-color;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  .tip_index {
    font-weight: bold;
  }

  .tip_title {
    width: 100%;
    font-size: 1.4em;
    color: #333;
    background-color: $shadow-color;
    padding: 20px 20px 20px 2rem;
  }

  .tip_topic {
    margin-top: 1.5rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
  }
  @media (max-width: 1200px) {
    max-width: 40rem;
    max-height: 11rem;

    .tip_title {
      font-size: 1.7rem;
    }
    .tip_topic {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 780px) {
    max-width: 30rem;
    .tip_title {
      font-size: 1.4rem;
    }
    .tip_topic {
      font-size: 1.1rem;
    }
  }
}
