header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-page {
  text-align: center;
  padding: 50px;
}

.main-page h1 {
  margin-bottom: 48px;
}

.button {
  width: 120px;
  height: 120px;
  background-color: blanchedalmond;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
