@import "./styles/common";

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: $background-color;
}

// 헤더
.blur-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #f2eaf8;
  display: none;
  z-index: 9;

  &.visible {
    display: block; // 스크롤 시 보이도록 설정
  }
}

.header {
  position: sticky;
  top: 3%;
  left: 3%;
  right: 3%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding: 10px 40px;
  box-shadow: 0 4px 6px $shadow-color;
  border-radius: 10px;
  z-index: 10;
  margin-bottom: 2rem;

  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 2rem;
    text-decoration: none;

    img {
      height: 1.8rem;
      margin-right: 10px;
    }

    p {
      font-weight: bold;
      font-size: 25px;
      background-color: #d562e7;
      padding: 0 10px;
      border-radius: 10px;
      color: $white;
    }
  }

  .link {
    padding: 0.6rem;
    margin-right: 20px;
    color: $dark-gray;
    text-decoration: none;
    font-size: 23px;
    border-radius: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: $yellow;
      font-weight: 600;
    }
  }
  button,
  .btn {
    font-family: "Jersey 10", sans-serif;
    background-color: $purple;
    text-decoration: none;
    color: $dark-gray;
    padding: 0.5rem 0.7rem;
    font-size: 23px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
  }
  @media (max-width: 850px) {
    padding: 10px 20px;
    .logo {
      height: 1rem;
      img {
        height: 1.8rem;
      }
      p {
        font-size: 23px;
        text-align: center;
      }
    }
    .link {
      font-size: 22px;
      margin: 0;
      padding: 6px;
      text-align: center;
      padding-left: 22px;
    }
    button,
    .btn {
      font-size: 20px;
    }
  }
  @media (max-width: 775px) {
    padding: 10px 20px;
    .logo {
      height: 1rem;
      img {
        height: 1.5rem;
      }
      p {
        font-size: 21px;
        text-align: center;
      }
    }
    .link {
      font-size: 20px;
      margin: 0;
      padding: 4px;
      text-align: center;
      padding-left: 20px;
    }
    button,
    .btn {
      font-size: 16px;
    }
  }

  @media (max-width: 650px) {
    padding: 10px;
    .logo {
      height: 1rem;
      img {
        height: 1.5rem;
        margin-right: 5px;
      }
      p {
        font-size: 19px;
        text-align: center;
        padding: 4px;
      }
    }
    .link {
      font-size: 18px;
      margin: 0;
      padding: 6px;
      text-align: center;
      padding-left: 15px;
    }
  }
}
// .nav-bar {
//   position: sticky;
//   top: 3%;
//   left: 3%;
//   right: 3%;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $white;
//   padding: 10px 40px;
//   box-shadow: 0 4px 6px $shadow-color;
//   border-radius: 10px;
//   z-index: 10;
//   margin-bottom: 3rem;
//   .link {
//     padding: 0.6rem;
//     margin-right: 20px;
//     color: $black;
//     text-decoration: none;
//     font-size: 23px;
//     border-radius: 10px;

//     &:last-child {
//       margin-right: 0;
//     }

//     &:hover,
//     &:focus {
//       background-color: $yellow;
//       font-weight: 600;
//     }
//   }
// }

// 푸터
footer {
  background-color: $dark-gray;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 10px;
  min-height: 40px;
  color: $white;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
  }
}

// 메인 페이지
.main-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  min-height: 100vh;

  .title-container {
    position: relative;
    text-align: center;
    z-index: 2;
  }

  h1,
  h2 {
    position: relative;
    z-index: 3;

    &h1 {
      font-size: 4rem;
    }

    &h2 {
      font-size: 3rem;
    }
  }
  .background1,
  .background2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 13rem;
    padding: 1.2rem 2rem;
    margin: 10px auto;
    position: absolute;
    z-index: 1;

    &.background1 {
      border: 3px solid $purple;
      filter: blur(4px);
      border-radius: 54% 46% 68% 30% / 69% 39% 62% 32%;
      animation: shake 5s ease-in-out infinite;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(10deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-10deg);
    }
  }

  .background2 {
    background-color: $white;
    filter: blur(10px);
    border-radius: 50%;
    width: 35rem;
    animation: shake-reverse 5s ease-in-out infinite;
  }

  @keyframes shake-reverse {
    0%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(-10deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(10deg);
    }
  }

  // 하단 클릭 버튼 3개
  .buttons {
    margin: 10rem;

    .button1,
    .button2,
    .button3 {
      width: 150px;
      height: 150px;
      padding: 10px;
      border: 1px solid $black;
      border-radius: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 25px;
      cursor: pointer;
      text-decoration: none;
      color: $black;

      .button__box--tips,
      .button__box {
        background-color: $white;
        padding: 9px;
        border: 1.1px solid $black;
        border-radius: 10px;
        transform: rotate(-10deg);
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
        &:hover,
        &:focus {
          transform: rotate(0deg);
          transition: all 0.3s ease;
        }
      }

      .button__box {
        background-color: $white;
      }
      .button__box--tips {
        background-color: $purple;
      }
    }
    .button1 {
      background-color: $purple;
    }
    .button2 {
      background-color: $yellow;
    }
    .button3 {
      background-color: $white;
    }
  }
}
