body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* header */
.header {
  position: fixed;
  top: 5%;
  left: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 40px;
  box-shadow: 0 4px 6px rgba(207, 171, 250, 0.5);
  border-radius: 10px;
  z-index: 10;
}

.Logo {
  margin-right: auto; /* 로고 왼쪽에 모든 공간을 추가하여 오른쪽 링크들을 끝으로 밀어냄 */
  font-weight: bold;
  font-size: 30px;
  background-color: #d8b7ff;
  padding: 0 10px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}

.link {
  padding: 0.6rem;
  margin-right: 20px;
  color: #000000;
  text-decoration: none;
  font-size: 23px;
  border-radius: 10px;
}

.link:last-child {
  margin-right: 0;
}

.link:hover,
.link:focus {
  background-color: #fee26f;
  font-weight: 600;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* main page */
.main-page {
  text-align: center;
  height: 100vh;
  background-color: #f2eaf8;
  display: flex;
  flex-direction: column;
}
.title {
  top: 25%;
  position: relative;
  z-index: 2;
  margin-bottom: 5rem;
}

h1 {
  margin-top: 10px;
  font-size: 4rem;
}
h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}
.background1,
.background2 {
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  height: 13rem;
  padding: 1.2rem 2rem;
  margin: 10px auto;
  position: absolute;
  z-index: 1;
}

.background1 {
  border: 3px solid #cfabfa;
  filter: blur(4px);
  border-radius: 54% 46% 68% 30% / 69% 39% 62% 32%;
  animation: shake 5s ease-in-out infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
}
.background2 {
  background-color: #fff;
  filter: blur(10px);
  border-radius: 50%;
  width: 35rem;
  animation: shake-reverse 5s ease-in-out infinite;
}
@keyframes shake-reverse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

.buttons {
  z-index: 1;
  margin: 10rem;
}
.button1,
.button2,
.button3 {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
  .button__box--tips,
  .button__box {
    background-color: #fff;
    padding: 9px;
    border: 1.1px solid #000000;
    border-radius: 10px;
    transform: rotate(-10deg);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  }
  .button__box--tips:hover,
  .button__box--tips:focus,
  .button__box:hover,
  .button__box:focus {
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  .button__box {
    background-color: #fff;
  }
  .button__box--tips {
    background-color: #d8b7ff;
  }
}
.button1 {
  background-color: #fff;
}
.button2 {
  background-color: #fee26f;
}
.button3 {
  background-color: #d8b7ff;
}
