.header {
  position: fixed;
  top: 5%;
  left: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 10;
}

.Logo {
  margin-right: auto; /* 로고 왼쪽에 모든 공간을 추가하여 오른쪽 링크들을 끝으로 밀어냄 */
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.link {
  padding: 0.6rem;
  margin-right: 40px;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.link:last-child {
  margin-right: 0;
}

.link:hover,
.link:focus {
  background-color: #fee26f;
  font-weight: 600;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-page {
  text-align: center;
  padding: 50px;
  background-color: #f2eaf8;
}

.main-page h1 {
  margin-bottom: 48px;
}

.button {
  width: 120px;
  height: 120px;
  background-color: blanchedalmond;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
